@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather|Merriweather+Sans');

/*RESETS*/

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    min-height:100% !important;
}

body {
    color: #222;
    background-color: #eee;
    font-family: 'Merriweather', serif;
    font-size:calc(10px + 0.4vw);
    line-height:calc(9px + 1vw);
    width: 100%;
}

#root {
    overflow:hidden;
}

img {
    border: 0px;
    max-width: 100% !important;
    border-radius: 20px;
}

#wrapper {
    margin-bottom:40px;
    padding-bottom: 40px;
    padding:20px;
}

a:hover {
    text-shadow: 1px 1px 3px #dd9, -1px -1px 3px #dd9;
}

/* HEADER */

header {
    position: relative;
    margin: 40px 0px 0 0px;
    padding: 0px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#title {
    height:50%;
    width:99%;
    border-bottom: double 5px #aaa;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:flex-start;
}

header img {
    position:absolute;
    top:0;
    right:0;
    border: none;
    border-radius: 50%;
    height:100%;
    border: double 5px #aaa;
}

#description {
    height:50%;
    font-weight:bold;
    font-family: 'Merriweather', serif;
    font-size:calc(10px + 1vw);
    text-align: left;
    padding: 5px 0 0 0;
    height: 80px;
}

a {
    color: #111;
    text-decoration: none;
}

a.twitter {
    color: #4099FF;
}

a.linkedin {
    color: #0077B5;
}

a.email {
    color: #C92C19;
}

/*LAYOUT*/

.columns {
        padding: 0 20px;
}

article {
    margin-top:calc(20px + 1vw);
    color: #eee;
    height: auto !important;
    border-radius: 20px;
}

article.intro, article.furtherxp, article.education {
    background: none;
    border: none;
    box-shadow: none;
    color: #222;
}

article.skills {
    background: #c08;
    -moz-box-shadow: inset 2px 2px 5px #805, inset -2px -2px 5px #805;
    -webkit-box-shadow: inset 2px 2px 5px #805, inset -2px -2px 5px #805;
    box-shadow: inset 2px 2px 5px #805, inset -2px -2px 5px #805;
}

article.codexp {
    background: #0B9;
    -moz-box-shadow: inset 2px 2px 5px #075, inset -2px -2px 5px #075;
    -webkit-box-shadow: inset 2px 2px 5px #075, inset -2px -2px 5px #075;
    box-shadow: inset 2px 2px 5px #075, inset -2px -2px 5px #075;
}

article.codexp a {
    color:#FFF;
}

article.interests {
    color: #555;
    background: #FC0;
    -moz-box-shadow: inset 2px 2px 5px #A80, inset -2px -2px 5px #A80;
    -webkit-box-shadow: inset 2px 2px 5px #A80, inset -2px -2px 5px #A80;
    box-shadow: inset 2px 2px 5px #A80, inset -2px -2px 5px #A80;
}

figure {
    width: 375px;
    border-radius: 20px;
}

.portfolio {
    margin-top:calc(20px + 1vw);
    padding-bottom: 40px;
    background:#FC0;
    text-align:center;
    box-shadow: 2px 2px 5px #666, -1px -1px 3px #666;
}

.video {
    margin-top:calc(20px + 1vw);
    padding-bottom: 40px;
    background:#c08;
    text-align:center;
    box-shadow: 2px 2px 5px #666, -1px -1px 3px #666;
    color:#111;
}

.footer {
    margin-top:calc(20px + 1vw);
    padding:0;
    background:#0b9;
    text-align:center;
    box-shadow: 2px 2px 5px #666, -1px -1px 3px #666;
}

/*TEXT*/

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size:calc(20px + 4vw);
    line-height:calc(40px + 4vw);
    letter-spacing: -0.25vw;
}

h2 {
    font-size:calc(10px + 1.5vw);
    line-height:calc(14px + 1.5vw);
    font-weight:bold;
    margin:0.5vw 0 1.5vw 0;
}

h3 {
    font-weight: bold;
    font-family: 'Merriweather Sans', serif;
    font-size:calc(10px + 0.75vw);
    margin-bottom: 0.3vw;
}

h4 {
    font-weight: bold;
    font-family: 'Merriweather Sans', serif;
    font-size:calc(10px + 0.5vw); 
    line-height:calc(12px + 0.5vw); 
}

.portfolio h2, .video h2 {
    border-top: double 3px #000;
    border-bottom: double 3px #000;
    margin: 20px 0;
    padding: 20px 0;
}

figcaption {
    width: 350px;
    background: #ffa;
    padding: 10px;
    text-align: left;
}

blockquote {
    background: #444;
    border-left: solid 10px #ddd;
    padding: 10px;
    margin: 5px 0;
    overflow: hidden;
    border-radius: 20px;
}

blockquote img {
    width: 95%;
    height: auto;
}

ul,
ol {
    list-style-type: none;
}

p {
    margin-top: 16px;
}