@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto+Condensed');

/* ----- RESETS ----- */

* {
  padding: 0px;
  margin: 0px;
}

body, html {
  min-height:100vh !important;
}

body {
  color: #333;
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  width: 100%;
}

@media(max-width: 800px) {
  body {
    font-size: 18px;
  }
  .project-middle p.project-caption {
    display: none;
  }
  .project-middle h2 {
    margin-bottom: 0;
  }
}

#root {
  min-height: 100vh;
  max-width: 98vw;
  overflow: hidden;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 96vw;
  max-width: 1024px;
  min-height: 100vh;
  padding: 0 2vw;
}

#main {
  box-sizing: border-box;
  height: 100%;
}

article {
  padding: 0;
  margin-bottom: 2em;
}

a {
  color: #f90;
  text-decoration: none;
}

p {
  font-size: 1em;
  width: 98%;
}

/* ----- TEXT DEFAULTS ----- */

h2 {
  color: #c30;
  font-family: 'Roboto Slab', serif;
  font-size:2em;
  margin: 0 0 1em 0;
  font-weight:300;
  letter-spacing: -0.025em;
}

h3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1em;
}

ul,
ol {
    list-style-type: none;
}

.icon {
  margin-right: 12px;
}

/* ----- HEADER ----- */

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  color:#333;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 2em 0;
}

header h1 {
  font-size:2em;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  color: #333;
  margin: 0 2vw 0 0;
}

header h1 span {
  color: #c30;
}

header .type-wrap {
  font-size:1.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.video-hero {
  position: relative;
}

.icons-hero {
  background: rgba(255,255,255,0.3);
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index:999;
  padding: 0.5em;
  border-radius: 6px;
}

.icons-hero .svg-inline--fa {
  margin: 0;
  color: #c30;
  height: 2em;
  width: 2em;
}

.icons-hero .icon {
  margin: 0;
}

.icons-hero .svg-inline--fa:hover {
  color: #f90;
}

/* ----- INTRO ----- */

article.intro-section {
  margin-bottom: 2em;
}

.hello, .developer, .skill-icons, .looking-for, .pie-chart {
  margin-bottom: 2em;
}

.skill-icons-wrapper {
  width: 80vw;
  max-width: 820px;
  background-color: rgba(255,170,125,0.2);
  padding: 1em;
  text-align: center;
  margin: 0 auto 2em auto;
}

.skill-icons.also {
  margin-bottom: 0;
}

.skill-icons img {
  height: 2em;
  margin-right: 0.5em;
}

.pie-chart {
  position: relative;
  width: 20em;
  margin: 0 auto;
}

.pie-chart .section-label {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  width: 35%;
  font-size: 1em;
  line-height: 1em;
  padding-top: 1em;
}

/* ----- TIMELINE ----- */

.timeline {
  width: 80vw;
  max-width: 820px;
  margin: 0 auto;
}

.timeline .timeline-item {
  margin: 0.5em 0;
  color: #fff;
  padding: 1em;
  background:#F85117;
}

.timeline h2 {
  text-align: center;
  margin: 0;
}

.timeline-item h2 {
  text-align: left;
  color: #fff;
  font-size: 1.25em;
}

.timeline h3 {
  display: block;
  margin: 0.5em 0;
}

.fade, .fade h2, .fade h3, .fade span {
  color: rgb(255, 170, 125);
}

.timeline-item span.date {
  display: block;
  background: #fff;
  color: #F85117;
  font-size: 0.7em;
  padding: 0.1em 0;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.fade span.date {
  background-color: rgb(255, 170, 125);
}

.timeline-item p.desc {
  margin: 1em 0;
}

.timeline-item p.skills {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 300;
}

/* ----- PORTFOLIO ----- */

article.portfolio-section {
  margin: 2em 0;
}

.portfolio-section h2 {
  text-align: center;
}

.portfolio-section p {
  text-align: center;
}

.thumbnails {
  text-align: center;
  width: 96vw;
  max-width: 800px;
  margin: 2vw auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.thumbnails a {
  width: 3em;
  height: 3em;
  background-color: #c30;
  border-radius: 50%;
  margin: 0 0.5em 1em;
  padding: 0;
  box-shadow: 0px 0px 5px #c30;
  transition: .5s ease;
}

.thumbnails a:hover {
  box-shadow: none;
  transition: .5s ease;
}

.thumbnails img {
  width: 3em;
  transition: .5s ease;
  opacity: 0.5;
  border-radius: 50%;
  box-shadow: none;
}

.thumbnails img:hover {
  transition: .5s ease;
  opacity: 1;
  border-radius: 0;
  box-shadow: 0px 0px 5px #c30;
}

.project-viewer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: 24px auto 48px auto;
}

.project {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: none;
  transition: .5s ease;
  box-sizing: border-box;
  border: double 6px rgba(238,85,0, 0.5);
  box-shadow: 0px 0px 10px #c30;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.project:hover {
  box-shadow: 0px 0px 30px #c30;
  border: double 6px #e50;
  transition: .5s ease;
  box-sizing: border-box;
}

.project-image {
  opacity: 0.5;
  display: block;
  max-width: 84vw;
  width: 100%;
  margin: 0 auto;
  transition: .5s ease;
}

.project-middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  width: 10em;
  background-color: #e50;
  border: double 6px #fff;
  color: #fff;
  padding: 18px;
  text-align: center;
}

.project-middle h2 {
  color: #fff;
  font-size: 1em;
  line-height: 1em;
}

.project-middle p.project-caption {
  font-size: 1em;
  line-height: 1em;
  width: 100%;
  margin: 0;
  padding: 0;
}

.project:hover .project-image {
  opacity: 1;
}

.project:hover .project-middle {
  opacity: 0;
}

.project-text {
  background-color: #e50;
  border: double 6px #fff;
  color: #fff;
  padding: 18px;
}

/* ----- VIDEOS ----- */

article.video {
  margin-bottom: -72px;
  
}

.video .video-content {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

/* ----- INTERESTS ----- */

.interests {
  text-align: center;
}

.interests h2 {
  text-align: center;
}

.interests h3 {
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 0;
}

.interests .front h2 {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2em;
}

.flip-container {
  perspective: 1000px;
  margin: 0.5em;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 40%;
	max-width: 6em;
	height: 9em;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
	position: absolute;
	top: 0;
  left: 0;
  width: 6em;
  height: 9em;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #7D2000;
}

.front {
  background: 
    linear-gradient(45deg, #A72B00 12%, transparent 0, transparent 88%, #A72B00 0),
    linear-gradient(135deg, transparent 37%, #F85117 0, #F85117 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #A72B00 0, #A72B00 63%, transparent 0) #c30;
  background-size: 1em 1em;
	z-index: 2;
  transform: rotateY(0deg);
  border: double 5px #FFAA7D;
  color: #fff;
}

.back {
  background: #FF7A4D;
  transform: rotateY(180deg);
  text-align: left;
}

.back-content {
  width: 6em;
  height: auto;
  max-height: 9em;
  margin: 0.1em;
  color: #fff;
  font-size: 0.75em;
  line-height: 1em;
}

.cards {
  margin: 0 auto 2em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.interests .and-finally {
  width: 80vw;
  max-width: 820px;
  background: rgba(255,170,125,0.2);
  text-align: left;
  padding: 1em;
  margin: 0 auto 2em auto;
}

.interests .and-finally h2{
  text-align: left;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

/* ----- FOOTER ----- */

footer {
  padding-bottom: 2em;
  text-align:center;
}

footer p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 2vw;
}

footer p a {
  color: #c30;
}

footer p a:hover {
  text-shadow: none;
  color: #f90;
}

footer .icon .svg-inline--fa {
  margin: 0 5px;
  width: 3em;
  height: 3em;
  color: #c30;
}

footer .icon .svg-inline--fa:hover {
  color:#f90;
}
