@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Cardo');

/*RESETS*/

* {
  padding: 0px;
  margin: 0px;
}

body, html {
  min-height:100vh !important;
}

body {
  color: #FFF;
  background-color: #774589;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center; 
  font-family: 'Cardo', serif;
  font-size: 20px;
  width: 100%;
}

#root {
  min-height: 100vh;
}

img {
  border: 0px;
  max-width: 100% !important;
  border-radius: 20px;
}

.wrapper {
  position: relative;
  margin: 0px auto;
  max-width: 640px;
  min-height: 100vh;
}

#main {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
    text-shadow: 1px 1px 1px #ddd;
}

/* HEADER */

header {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px 40px 20px;
}

#title {
    height:50%;
    width:100%;
}

header #description {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size:20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#description a {
  width: 25%;
  max-width: 150px;
  height: 24px;
  border-left: solid 1px #fff;
  padding: 0 10px;
}

#description a:hover {
  background-color: #5B276E;
  text-shadow: none;
}

ul.skill-list {
  margin: 0;
  padding: 0;
}

ul.skill-list li  {
  display: inline-block;
  width: 180px;
}

/*LAYOUT*/

article {
  max-width: 600px;
  padding: 0 20px;
  margin-bottom: 80px;
}

.timeline {
  position: relative;
  max-width: 600px;
  margin: 40px auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 20px 0px;
  position: relative;
  width: 50%;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  background-color: #5B276E;
  border: solid 4px #fff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -18px;
}

.item-content {
  width: 240px;
  padding: 10px;
  background:#5B276E;
}

.right .item-content {
  margin-left: 40px;
} 

.item-content span.icon {
  margin-left: 8px;
}

.item-content span.date {
  display: block;
  background: #fff;
  color: #5B276E;
  height: 24px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
}

.item-content span.job-title {
  display: block;
}

.item-content span.skills {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin:12px 0 0 0;
}

.portfolio {
    margin-bottom: 80px;
}

.project {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin-bottom: 80px;
}

.project-image {
  opacity: 0.5;
  display: block;
  width: 600px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project-middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project:hover .project-image {
  opacity: 1;
}

.project:hover .project-middle {
  opacity: 0;
}

.project-text {
  background-color: #5B276E;
  padding: 18px;
}

.interests {
  margin-bottom: 80px;
}

.interests .and-finally {
  display: block;
}

footer {
  position: absolute;
  bottom: 0;
  max-width: 600px;
  width: 100%;
  padding:0 20px;
  text-align:center;
  font-size: 48px;
  letter-spacing: 5px;
  height: 60px;
}

footer p {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size:20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 10px;
  height: 24px;
}

footer p a:hover {
  text-shadow: none;
  background-color: #5B276E;
  padding: 0 10px;
  height: 24px;
}

footer .svg-inline--fa {
  margin: 0 5px;
}

footer .svg-inline--fa:hover {
  color:#5B276E;
}

/*TEXT*/

h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size:60px;
    line-height:60px;
    letter-spacing: -1.5px;
    font-weight: 300;
    padding: 20px 0;
}

h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size:40px;
  line-height:40px;
  padding-bottom: 12px;
  font-weight:300;
  letter-spacing: -1px;
}

header h2 {
  font-family: 'Cardo', serif;
  font-size:30px;
  line-height:30px;
  padding-bottom: 36px;
}

h3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 12px;
}

.interests h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size:30px;
  line-height:30px;
  padding-bottom: 0;
}

ul,
ol {
    list-style-type: none;
}

p {
    margin-top: 16px;
}

.icon {
  margin-right: 12px;
}

.flip-container {
  perspective: 1000px;
  margin-bottom: 40px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 40%;
	max-width: 180px;
	height: 280px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
	position: absolute;
	top: 0;
  left: 0;
  width: 180px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #3F0F50;
}

.front {
  background: 
    linear-gradient(45deg, #5B276E 12%, transparent 0, transparent 88%, #5B276E 0),
    linear-gradient(135deg, transparent 37%, #956BA3 0, #956BA3 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #5B276E 0, #5B276E 63%, transparent 0) #3F0F50;
  background-size: 25px 25px;
	z-index: 2;
  transform: rotateY(0deg);
  border: double 5px #BC9FC7;
}

.back {
  background: #956BA3;
	transform: rotateY(180deg);
}

.back-content {
  width: 210px;
  height: auto;
  max-height: 335px;
  margin: 20px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media(max-width:639px) {
  span.project-caption {
    display: none;
  }

  header #description {
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .timeline::after {
    display: none;
  }

  .timeline-item::after {
    display: none;
  }

  .right {
    left: 0;
  }
  
  .right::after {
    left: -15px;
  }

  .right .item-content {
    margin-left: 0;
  }

  .timeline-item {
    position: static;
    width: 240px;
    margin: 20px auto;
  }

  .item-content {
    width: 100%;
    max-width: 240px;
  }
}
