article.interests {
  text-align: center;
  margin-bottom: 1em;
}

.interests h3 {
  font-family: 'Lato', sans-serif;
  padding-bottom: 0;
}

.interests .cards {
  margin: 0 auto 2em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
