.interests {
  text-align: center;
  margin-bottom: 1em;
}

.interests h3 {
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 0;
}

.interests .cards {
  margin: 0 auto 2em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.interests p.download {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.6em;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 2vw 0;
}

.interests p.download a {
  color: #c30;
  transition: .5s ease;
}

.interests p.download a:hover {
  text-shadow: none;
  color: #f90;
  transition: .5s ease;
}

@media screen and (orientation: portrait) {
  .interests h2 {
    font-size: 1em;
  }
  .interests .orange-box h2 {
    font-size: 24px;
  }
}
