.redband {
  background-color: #c30;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1em 0;
  color: white;
  margin-bottom: 0.5em;
}

.redband h2 {
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  color: white;
}

@media screen and (orientation: portrait) {
  .redband .wrapper {
    font-size: 16px;
  }

  .redband h2 {
    font-size: 16px;
  }
}
