.video-hero {
  position: relative;
}

.video-hero video {
  margin-bottom: -0.25em;
}

.video-hero .icons-hero {
  background: rgba(255,255,255,0.3);
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index:999;
  padding: 0.5em;
  border-radius: 6px;
}

@media screen and (orientation: portrait) {
  .video-hero .icons-hero {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}
