article.portfolio-section {
  margin: 0;
}

.portfolio-section h2 {
  text-align: center;
}

.portfolio-section p {
  text-align: center;
}

.thumbnails {
  text-align: center;
  width: 96vw;
  max-width: 800px;
  margin: 2vw auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.thumbnails button {
  width: 6em;
  height: 6em;
  background-color: #c30;
  border: 0;
  border-radius: 50%;
  margin: 0 0.5em 1em;
  padding: 0;
  box-shadow: 0px 0px 5px #c30;
  transition: .5s ease;
}

.thumbnails button:hover {
  box-shadow: none;
  transition: .5s ease;
}

.thumbnails img {
  width: 6em;
  transition: .5s ease;
  border-radius: 50%;
  box-shadow: none;
}

.thumbnails img:hover {
  transition: .5s ease;
  border-radius: 6px;
  box-shadow: 0px 0px 5px #c30;
}

.project-viewer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: 24px auto 48px auto;
}

.project {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: none;
  transition: .5s ease;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #c30;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.project:hover {
  box-shadow: 0px 0px 30px #c30;
  transition: .5s ease;
  box-sizing: border-box;
}

.project-image {
  opacity: 0.5;
  display: block;
  max-width: 84vw;
  width: 100%;
  margin: 0 auto;
  transition: .5s ease;
  border-radius: 6px;
}

.project-middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  width: 10em;
  background-color: #c30;
  border: double 6px #fff;
  color: #fff;
  padding: 18px;
  text-align: center;
}

.project-middle h2 {
  color: #fff;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.project-middle p.project-caption {
  font-size: 1em;
  line-height: 1em;
  width: 100%;
  margin: 0;
  padding: 0;
}

.project:hover .project-image {
  opacity: 1;
}

.project:hover .project-middle {
  opacity: 0;
}

.project-text {
  background-color: #e50;
  border: double 6px #fff;
  color: #fff;
  padding: 18px;
}