.flip-container {
  perspective: 1000px;
  margin: 0.5em;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .flip-container .flipper .front, .flip-container .flipper .back {
  width: 40%;
	max-width: 6em;
	height: 9em;
}

.flip-container .flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.flip-container .flipper .front, .flip-container .flipper .back {
	backface-visibility: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
	position: absolute;
	top: 0;
  left: 0;
  width: 6em;
  height: 9em;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #7D2000;
}

.flip-container .flipper .front {
  background: 
    linear-gradient(45deg, #c30 12%, transparent 0, transparent 88%, #c30 0),
    linear-gradient(135deg, transparent 37%, #d40 0, #d40 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #910 0, #910 63%, transparent 0) #710;
  background-size: 1em 1em;
	z-index: 2;
  transform: rotateY(0deg);
  border: double 5px #FFAA7D;
  color: #fff;
}

.flip-container .flipper .front h2 {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2em;
}

.flip-container .flipper .back {
  background: #FF7A4D;
  transform: rotateY(180deg);
  text-align: left;
}

.flip-container .flipper .back .back-content {
  width: 6em;
  height: auto;
  max-height: 9em;
  margin: 0.1em;
  color: #fff;
  font-size: 0.75em;
  line-height: 1em;
}