.icons {
  width: 8em;
  margin: 0 auto;
}

.icons .svg-inline--fa {
  margin: 0;
  color: #c30;
  height: 2em;
  width: 2em;
  transition: .5s ease;
}

.icons .svg-inline--fa:hover {
  color: #f90;
  transition: .5s ease;
}