@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Sacramento|Ubuntu+Mono&display=swap');

body, html {
  background-color: #332E4A;
  color: #fff;
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #fff;
  background-image: url('../assets/joey.svg');
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 768px) {
  body, html {
    font-size: 18px;
    line-height: 24px;
  }
}

p {
  margin: 0 0 1rem 0;
}

pre {
  background-color: #161032;
  color: #fffacd;
  margin: 1em auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 60%;
  white-space: pre-wrap;
}

code {
  background-color: #161032;
  color: #fffacd;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  word-wrap: break-word;
}

pre code {
  display: block;
}

li {
  margin: 1rem auto;
  width: 80%;

}

h1 {
  font-family: 'Sacramento', cursive;
  font-weight: 300;
  font-size: 3rem;
  line-height: 3rem;
  margin: 24px 0;
  text-align: center;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.5rem #ffb8d0,
    -0.1rem 0.1rem 0.5rem #ffb8d0,
    0.1rem -0.1rem 0.5rem #ffb8d0,
    -0.1rem -0.1rem 0.5rem #ffb8d0;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  letter-spacing: -0.05rem;
}

h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -0.025em;
}

h3 svg {
  margin: 0 1rem 0 0;
  opacity: 1;
}

h3 svg:hover {
  cursor: auto;
}

a {
  text-decoration: none;
  color: #ffb8d0;
  transition: 0.5s ease;
}

a:hover {
  text-decoration: underline;
  transition: 0.5s ease;
}

.purple {
  background-color: rgba(51,46,74,0.65);
  color: #fff;
}

.sage {
  background: #d2ddcb;
  color: #7a7495;
}

.sage h2, .sage a {
  color: #679dbe;
}

.sage img {
  background-color: #aabd9e;
}

.lemon {
  background: #fffacd;
  color: #7a7495;
}

.lemon h2, .lemon a {
  color: #ff7dab;
}

.lemon img {
  background-color: #dbd494;
}

.sky {
  background: #c2e4ff;
  color: #7a7495;
}

.sky h2, .sky a {
  color: #332E4A;
}

.sky img {
  background-color: #91cfff;
}

.svg-inline--fa {
  height: 1rem;
}