@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab&family=Sacramento&family=Ubuntu+Mono&display=swap');

body, html {
  background-color: #332E4A;
  color: #fff;
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #fff;
  background-image: url('../assets/joey.svg');
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 767px) {
  body, html {
    overflow-y: auto;
    overflow-x: hidden;
    background-position: center calc(50% - 2rem);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body, html {
    font-size: 24px;
    line-height: 30px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  max-width: 32vw;
}

.post-content p {
  max-width: 100%;
}

.post-content blockquote {
  width: 60%;
  padding: 1rem;
  margin: 1rem auto;
  background-color: #ffbfef;
  border-radius: 1rem;
}

.post-content blockquote p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1023px) {
  p {
    max-width: 80vw;
  }
  .post-content p {
    max-width: calc(100vw - 2rem);
  }
}

ul {
  padding-left: 1rem;
  margin: 0 0 1rem 0;
}

@media (max-width: 1023px) {
  ul {
    text-align: center;
    max-width: 80vw;
  }
}

/* headings */

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  letter-spacing: -0.05rem;
}

h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -0.025em;
}

h3 svg {
  margin: 0 1rem 0 0;
  opacity: 1;
}

h3 svg:hover {
  cursor: auto;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.25em;
  margin-top: 0;
  margin-bottom: 0.25rem;
  letter-spacing: -0.025em;
  color: #585273;
}

a {
  text-decoration: none;
  color: #ff7dab;
  transition: 0.5s ease;
}

a:hover {
  text-decoration: underline;
  transition: 0.5s ease;
}

.purple {
  background-color: rgba(51,46,74,0.25);
  color: #fff;
}

.sage {
  background: #d2ddcb;
  color: #7a7495;
}

.sage h2 {
  color: #679dbe;
}

.sage img {
  background-color: #aabd9e;
}

.lemon {
  background: #fffacd;
  color: #7a7495;
}

.lemon h2 {
  color: #ff7dab;
}

.lemon img {
  background-color: #dbd494;
}

.sky {
  background: #c2e4ff;
  color: #7a7495;
}

.sky h2 {
  color: #332E4A;
}

.sky img {
  background-color: #91cfff;
}

.sky a, .sage a {
  color: #403f56;
  font-weight: bold;
}

.pink {
  background-color: #ffdadd;
  color: #7a7495;
}

.pink h2 {
  color: #679dbe;
}

.pink img {
  background-color: #ff7dab;
}

.pink a {
  color: #679dbe;
}

.lavender {
  background-color: #828dac;
  color: #ffffff;
}

.lavender a {
  color: #ffbfef;
}

.svg-inline--fa {
  height: 1rem;
  width: 1rem;
}
