/* this has been customised... it's more like Flosswave... */

/*
* Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
* Demo: https://marc.dev/demo/prism-synthwave84
*
* Ported for PrismJS by Marc Backes [@themarcba]
*/

code[class*="language-"],
pre[class*="language-"] {
  color: #ff7dab;
  background: none;
  font-family: 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 0.825rem;
  line-height: 1rem;
  font-weight: 400;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media(max-width: 767px) {
  code[class*="language-"] {
    font-size: 16px;
    line-height: 16px;
  }
}

pre code span {
  display: inline-block;
  overflow-wrap: break-word;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1rem;
  margin: 1rem auto;
  width: 60%;
  border-radius: 0.5rem;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

@media(max-width: 767px) {
  pre[class*="language-"] {
    width: calc(100% - 1rem);
    font-size: 0.75rem;
    padding: 0.5rem 0.5rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    white-space: normal;
    word-wrap: normal;
  }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #585273 !important;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  background-color: transparent !important;
  color: #585273;
}

.token.parameter {
  color: #ffead8;
  font-style: italic;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8e8e8e;
}

.token.punctuation {
  /* color: #be96ff; */
  color: #c5c0dc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
  color: #ffbfef;
}

.token.property,
.token.selector {
  color: #b8ffda;
}

.token.function-name {
  color: #679dbe;
}

.token.boolean,
.token.selector .token.id,
.token.function {
  color: #91cfff;
}

.token.class-name {
  color: #fff5f6;
}

.token.constant,
.token.symbol {
  color: #ff7dab;
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
  color: #fffacd;
  font-style: italic;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #ffdab9;
}

.token.operator,
.token.entity,
.token.url {
  color: #c2e4ff;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
