/* ----- BLOG POSTS ----- */

.blog-post p {
  margin-bottom: 1em;
}

.blog-post code {
  font-size: 0.8em;
  background-color: #fcb;
}

.blog-post pre {
  background-color: #fcb;
  margin: 1em;
  padding: 1em;
}

.blog-post a {
  color: #c30;
}

.blog-post header a {
  color: #333;
}

.blog-post .post-content {
  margin: 2em 0;
}

.blog-post h3 {
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-size:1em;
  margin-bottom: 0.75em;
  font-weight:300;
  letter-spacing: -0.025em;
}

h3.back-to-blog {
  color: #c30;
  font-family: 'Roboto Slab', serif;
  font-size:1em;
}
