header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color:#333;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1em 0;
}

header .title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

header h1 {
  font-size:2em;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  color: #333;
  margin: 0 2vw 0 0;
}

@media screen and (orientation: portrait) {
  header h1 {
    font-size: 1em;
  }
}

header h1 span {
  color: #c30;
}

/* ----- TYPE WRAP ANIMATION ----- */

header .type-wrap {
  font-size:1.5em;
  line-height: 1.5em;
  margin-bottom: 0;
}

@media screen and (orientation: portrait) {
  header .type-wrap {
    font-size:0.75em;
    line-height: 0.75em;
  }
}

/* ----- NAV ----- */

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

nav a {
  display: block;
  text-align: center;
  width: 100px;
  color: #333;
}

nav a:hover {
  background-color: #c30;
  border-radius: 6px;
  color: white;
}

@media screen and (orientation: portrait) {
  nav {
    flex-flow: column nowrap;
    font-size: 16px;
    text-align: right;
    width: 30%;
  }

  nav a {
    text-align: right;
  }

  nav a:hover {
    color: #333;
    background-color: #fff;
  }
}

