footer {
  width: 100%;
}

@media screen and (orientation: portrait) {
  footer {
    height: 64px;
    padding-bottom: 2em;
    font-size: 16px;
  }

  footer .icons {
    height: 2em;
    margin-bottom: 1em;
  }
}
