@use 'sass:color';
@use "./spacing";

$pink-100: hsl(330, 100%, 10%);
$pink-200: hsl(330, 100%, 20%);
$pink-300: hsl(330, 100%, 30%);
$pink-400: hsl(330, 100%, 40%);
$pink-500: hsl(330, 100%, 50%);
$pink-600: hsl(330, 100%, 60%);
$pink-700: hsl(330, 100%, 70%);
$pink-800: hsl(330, 100%, 80%);
$pink-900: hsl(330, 100%, 90%);
$pink-950: hsl(330, 100%, 95%);

$red-100: hsl(0, 100%, 10%);
$red-200: hsl(0, 100%, 20%);
$red-300: hsl(0, 100%, 30%);
$red-400: hsl(0, 100%, 40%);
$red-500: hsl(0, 100%, 50%);
$red-600: hsl(0, 100%, 60%);
$red-700: hsl(0, 100%, 70%);
$red-800: hsl(0, 100%, 80%);
$red-900: hsl(0, 100%, 90%);
$red-950: hsl(0, 100%, 95%);

$yellow-100: hsl(60, 100%, 10%);
$yellow-200: hsl(60, 100%, 20%);
$yellow-300: hsl(60, 100%, 30%);
$yellow-400: hsl(60, 100%, 40%);
$yellow-500: hsl(60, 100%, 50%);
$yellow-600: hsl(60, 100%, 60%);
$yellow-700: hsl(60, 100%, 70%);
$yellow-800: hsl(60, 100%, 80%);
$yellow-900: hsl(60, 100%, 90%);
$yellow-950: hsl(60, 100%, 95%);

$cyan-100: hsl(180, 100%, 10%);
$cyan-200: hsl(180, 100%, 20%);
$cyan-300: hsl(180, 100%, 30%);
$cyan-400: hsl(180, 100%, 40%);
$cyan-500: hsl(180, 100%, 50%);
$cyan-600: hsl(180, 100%, 60%);
$cyan-700: hsl(180, 100%, 70%);
$cyan-800: hsl(180, 100%, 80%);
$cyan-900: hsl(180, 100%, 90%);
$cyan-950: hsl(180, 100%, 95%);

$blue-100: hsl(210, 100%, 10%);
$blue-200: hsl(210, 100%, 20%);
$blue-300: hsl(210, 100%, 30%);
$blue-400: hsl(210, 100%, 40%);
$blue-500: hsl(210, 100%, 50%);
$blue-600: hsl(210, 100%, 60%);
$blue-700: hsl(210, 100%, 70%);
$blue-800: hsl(210, 100%, 80%);
$blue-900: hsl(210, 100%, 90%);
$blue-950: hsl(210, 100%, 95%);

$purple-100: hsl(240, 33%, 10%);
$purple-200: hsl(240, 33%, 20%);
$purple-300: hsl(240, 33%, 30%);
$purple-400: hsl(240, 33%, 40%);
$purple-500: hsl(240, 33%, 50%);
$purple-600: hsl(240, 33%, 60%);
$purple-700: hsl(240, 33%, 70%);
$purple-800: hsl(240, 33%, 80%);
$purple-900: hsl(240, 33%, 90%);
$purple-950: hsl(240, 33%, 95%);


$mustard-yellow: hsl(45, 100%, 50%);
$darkest-brown: hsl(17, 53%, 12%);
$pink: $pink-400;
$yellow: $yellow-700;
$cyan: $cyan-700;
$blue: $blue-700;
$purple: $purple-700;
$white: hsl(0, 0%, 100%);
$ctaText: $purple-400;
$ctaHoverText: $purple-400;
$darkPurple: $purple-300;
$lightPurple: $purple-700;
$footerBg: $purple-200;
$bg1: light-dark($white, $purple-300);
$bg2: light-dark(color.adjust($white, $lightness: -5%), color.adjust($purple-300, $lightness: 5%));
$text: light-dark($purple-400, $white);
$accentLight: light-dark($pink-800, $yellow-800);
$accentBold: light-dark($pink-800, $pink-600);
$accentShadow: light-dark($pink-400, $yellow-400);
$bgContrast: light-dark($pink-900, $purple-800);
$imageOverlay: light-dark($pink-800, $purple-700);
$gradient-start: light-dark($blue, $yellow-900);
$gradient-end: light-dark($pink-800, $pink-600);
$scroll-gradient: linear-gradient(to bottom right, $gradient-start, $gradient-end);

@mixin gradient-base {
  background-attachment: fixed;
  background-color: transparent;
  background-image: $scroll-gradient;
  background-origin: padding-box;
  background-repeat: repeat;
  background-position: center;
}

@mixin gradient-text {
  @include gradient-base;
  background-clip: text;
  background-size: auto;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  @supports (-moz-appearance: none) {
    background: none;
    text-fill-color: $gradient-start;
    -webkit-text-fill-color: $gradient-start;
  }
}

@mixin gradient-bg {
  @include gradient-base;
  background-clip: border-box;
  background-size: 100%;
}

@mixin gradient-border-bottom () {
  &:after {
    @include gradient-bg;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: spacing.$border;
    z-index: 3;
  }
}

@mixin gradient-border-left () {
  &:after {
    @include gradient-bg;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: spacing.$border;
    z-index: 3;
  }
}

@mixin sparkles($top, $right) {
  position: relative;

  &:after {
    position: absolute;
    top: $top;
    right: $right;
    content: '';
    mask: url('data: image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 56 56" preserveAspectRatio="xMidYMid meet"><path d="M 26.6875 12.6602 C 26.9687 12.6602 27.1094 12.4961 27.1797 12.2383 C 27.9062 8.3242 27.8594 8.2305 31.9375 7.4570 C 32.2187 7.4102 32.3828 7.2461 32.3828 6.9648 C 32.3828 6.6836 32.2187 6.5195 31.9375 6.4726 C 27.8828 5.6524 28.0000 5.5586 27.1797 1.6914 C 27.1094 1.4336 26.9687 1.2695 26.6875 1.2695 C 26.4062 1.2695 26.2656 1.4336 26.1953 1.6914 C 25.3750 5.5586 25.5156 5.6524 21.4375 6.4726 C 21.1797 6.5195 20.9922 6.6836 20.9922 6.9648 C 20.9922 7.2461 21.1797 7.4102 21.4375 7.4570 C 25.5156 8.2774 25.4687 8.3242 26.1953 12.2383 C 26.2656 12.4961 26.4062 12.6602 26.6875 12.6602 Z M 15.3438 28.7852 C 15.7891 28.7852 16.0938 28.5039 16.1406 28.0821 C 16.9844 21.8242 17.1953 21.8242 23.6641 20.5821 C 24.0860 20.5117 24.3906 20.2305 24.3906 19.7852 C 24.3906 19.3633 24.0860 19.0586 23.6641 18.9883 C 17.1953 18.0977 16.9609 17.8867 16.1406 11.5117 C 16.0938 11.0899 15.7891 10.7852 15.3438 10.7852 C 14.9219 10.7852 14.6172 11.0899 14.5703 11.5352 C 13.7969 17.8164 13.4687 17.7930 7.0469 18.9883 C 6.6250 19.0821 6.3203 19.3633 6.3203 19.7852 C 6.3203 20.2539 6.6250 20.5117 7.1406 20.5821 C 13.5156 21.6133 13.7969 21.7774 14.5703 28.0352 C 14.6172 28.5039 14.9219 28.7852 15.3438 28.7852 Z M 31.2344 54.7305 C 31.8438 54.7305 32.2891 54.2852 32.4062 53.6524 C 34.0703 40.8086 35.8750 38.8633 48.5781 37.4570 C 49.2344 37.3867 49.6797 36.8945 49.6797 36.2852 C 49.6797 35.6758 49.2344 35.2070 48.5781 35.1133 C 35.8750 33.7070 34.0703 31.7617 32.4062 18.9180 C 32.2891 18.2852 31.8438 17.8633 31.2344 17.8633 C 30.6250 17.8633 30.1797 18.2852 30.0860 18.9180 C 28.4219 31.7617 26.5938 33.7070 13.9140 35.1133 C 13.2344 35.2070 12.7891 35.6758 12.7891 36.2852 C 12.7891 36.8945 13.2344 37.3867 13.9140 37.4570 C 26.5703 39.1211 28.3281 40.8321 30.0860 53.6524 C 30.1797 54.2852 30.6250 54.7305 31.2344 54.7305 Z" /></svg>');
    mask-size: cover;
    height: spacing.$xl;
    width: spacing.$xl;
    background-color: $mustard-yellow;
    }
}
